.container .title {
    color: #ff0000;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .search_text {
    color: #ff0000;
}

.movies_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 auto;
}

.movies_container div {
    width: 24%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0b0a0a;
    padding: 1rem;
}

.movies_container div img {
    max-width: 100%;
}

.movies_container div img,
.movies_container div h2,
.movies_container div p {
    margin-bottom: 1rem;
}

.movies_container div svg {
    color: #f7d354;
}

.movies_container div a {
    align-items: center;
    background-color: #b10000;
    color: #fff;
    border: 2px solid #b10000;
    border-radius: 4px;
    padding: 1rem 0.5rem;
    transition: 0.6s;
    text-align: center;
    font-weight: bold;
}

.movies_container div a:hover {
    background-color: transparent;
    color: #b10000;
}
