.movie_page {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 1200px;
}

.movie_page svg {
    font-size: 1.5rem;
    color: #b10000;
}

.movie_page .movie_card {
    text-align: center;
}

.movie_page .movie_card img,
.movie_page .movie_card h2,
.movie_page .movie_card p {
    margin-bottom: 2rem;
}

.movie_page .movie_card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.row_one {
    display: flex;
    gap: 40px;
}

.tagline {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.info {
    margin-bottom: 1.5rem;
}

.info h3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.description {
    padding-bottom: 10rem;
}

.description p {
    line-height: 1.4rem;
    text-align: justify;
}

.desktop_view {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header {
    text-align: center;
}

.header h2 {
    margin-bottom: 20px;
}

.movie_page .movie_card img {
    width: 300px;
}

@media (max-width: 580px) {
    .movie_page {
        padding: 0.8rem;
    }

    .movie_page .movie_card img {
        width: 290px;
        margin: 0;
    }

    .row_one {
        display: flex;
        flex-direction: column;
    }

    .row_two {
        margin-top: -26px;
    }
}
